@use "../../variables&mixins.scss" as *;

form {
  height: 69px;
  border-radius: 15px;
  background: $less-darker-blue;
  margin: 35px 0 24px;
  padding: 9.5px 10px 9.5px 32px;

  .container {
    max-width: 100%;
    height: 100%;
    @include flex-row-Hbetween-Vcenter;

    .search {
      gap: 23.94px;
      @include flex-row-Hbetween-Vcenter;

      input {
        width: 254px;
        height: 25px;
        border: none;
        outline: none;
        background-color: transparent;
        caret-color: $blue;
        cursor: pointer;
        @include input-text;

        &::placeholder {
          @include input-text;
        }
      }
    }

    .right {
      @include flex-row-Hbetween-Vcenter;
      gap: 24px;

      span {
        color: $error-red;
        font-size: 15px;
        font-weight: 700;
      }

      button {
        width: 106px;
        height: 50px;
        border: none;
        background: $blue;
        border-radius: 10px;
        color: $white;
        font-family: $space-mono;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;

        &:hover {
          background: $hover-blue;
        }
      }
    }
  }
}

//light themed Form

form.light {
  @include light-form;
}

// No changes in the Tablet version

/*************
*** Mobile ***
**************/

@media (width<620px) {
  form {
    height: 60px;
    margin: 35px 0 16px;
    padding: 6.5px 7px 7.5px 16px;

    .container {
      .search {
        gap: 8.95px;

        input {
          width: 184px;
          font-size: 13px;

          &::placeholder {
            font-size: 13px;
          }
        }
      }

      .right {
        gap: 9px;

        button {
          width: 84px;
          height: 46px;
          font-size: 14px;
        }
      }
    }
  }
}

@media (prefers-color-scheme: light) {
  form {
    @include light-form;
  }
}
