@use "../../variables&mixins.scss" as *;

main {
  height: 900px;
  padding-top: 144px;

  .container {
    width: 730px;
    margin: auto;
  }
}

// Tablet
@media (width<800px) {
  main {
    height: 1024px;
    padding-top: 140px;

    .container {
      width: 573px;
    }
  }
}
